Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 Modes
        - Dev
            Dev Server, Source maps, Eslint
        - Prod
            Minified code

Git
    Production
        1.0.0
        -----------
    Development
        1.0.2
        ----------------